<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Nearby Project</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ><a routerLink="home">Home</a></li>
        <li><a routerLink="nomination">Search</a></li>

        <li class="dropdown" *ngIf="isSeesion">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="publication">Biography</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="user-nomination-view"  >My Nominations</a></li>
          </ul>
        </li>

        <li class="dropdown" *ngIf="isSeesion">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="project">Register</a></li>
            <li><a routerLink="project-view">Show</a></li>
            <li><a routerLink="project-profile">Add Profile </a></li>
          </ul>
        </li>

        <li class="dropdown" *ngIf="isSeesion">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="profile">Register</a></li>
            <li><a routerLink="profile-view">Show</a></li>
          </ul>
        </li>
        <li><a routerLink="project-profile-view" *ngIf="isSeesion">Postulations</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="notSeesion" ><a routerLink="user" ><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li *ngIf="notSeesion" ><a id="login"  (click)="showmodal()"><span id="iconLogin" class="glyphicon glyphicon-log-in"></span>login</a></li>
        <li *ngIf="isSeesion" (click)="logout()"><a routerLink="home" ><span class="glyphicon glyphicon-log-out"></span>logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-login *ngIf="ismodal" (MyEvent)="closemodal()"></app-login>
