<div class="container" id="cardsInformacion">
  <div *ngFor="let i of reservaList" class="row">

      <div class="col-md-10 col-sm-2" >
        <div class="card">
          <h2 class="card-header">{{i.tipo}}:{{i.journalTitle}}</h2>
          <div class="card-body">
            <h4 class="card-title">{{i.title}}</h4>

            <h6 class="card-subtitle mb-2 text-muted">{{i.publicationDate}}</h6>
            <a href="{{i.url}}" class="btn btn-primary">Url</a>
          </div>
        </div>
      </div>

  </div>

</div>
