<div class="container" id="cardsInformacion">

    <div class="card" *ngIf="validator">
      <h1 class="w3-panel card-header bg-primary text-center" >{{datos.profile.name}}</h1>
      <div class="card-body">
        <div class="row vdivide">
          <div class="col-sm-4 text-center">

            <h6 class="card-subtitle mb-2 text-muted" >Working Day: {{datos.profile.working_day}}</h6>
            <h6 class="card-subtitle mb-2 text-muted" >Level: {{datos.profile.nivel}}</h6>
            <h6 class="card-subtitle mb-2 text-muted" >Initial Date: {{ datos.project.initial_date | date }} </h6>
            <h6 class="card-subtitle mb-2 text-muted">Final Date:{{datos.project.final_date | date }}</h6>
          </div>
          <div class="col-sm-7 text-left">
            <h4 class="card-title">Description:{{datos.profile.description}}</h4>
            <p class="card-text"></p>
            <hr>
            <h4 class="card-title">About Project</h4>
            <h5 class="card-title">Title Project:</h5>
            <p class="card-text">{{datos.project.title}}</p>
            <h5 class="card-title">Description:</h5>
            <p class="card-text">{{datos.project.description}}</p>
            <h5 class="card-title">Key words:</h5>
            <p class="card-text">{{datos.project.key_words}}</p>
            <h5 class="card-title">Researcher:</h5>
            <p class="card-text">{{user.firstname}} {{user.lastname}}
              <button class="btn btn-link" (click)="openUser(user.id)">Click Here</button>
            </p>
            <h5 class="card-title text-danger" *ngIf="isLogin">{{msgTitle}}</h5>
            <button class="btn btn-warning" [disabled]="isLogin" (click)="add(datos.id)">Nomination</button>
          </div>
        </div>

      </div>
    </div>
    <br>
    <br>
  <div class="text-center form-horizontal alert alert-danger fade in" *ngIf="advertencia" >
    <strong>Register exists</strong>
  </div>
  <div class="alert alert-success alert-dismissible" *ngIf="isregistro" >
    <strong>Congratulations!</strong> Register!!!
    <br>
  </div>

</div>

<div id="myModal" class="modal" role="dialog" *ngIf="false">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
      <div  class="alert alert-success alert-dismissible" >
        <strong>Congratulations!</strong> Register!!!
        <br>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default"  (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
