<div id="myModal" class="modal" role="dialog">

  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Login</h4>
    </div>

    <form id="formularioLog" class="form-horizontal" role="form" >

      <div class="form-group" >
        <label  class="col-md-5 control-label">UserName:</label>
        <div class='col-md-5' style="top:5px;">
          <input type="text" class="form-control" #theuser (focus)="closeAdvertencia()" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-5 control-label">Password:</label>
        <div class='col-md-5'>
          <input type="password" class="form-control" #thepassword  (focus)="closeAdvertencia()">
        </div>
      </div>

      <div *ngIf="advertencia"  id="dialogAdvertencia" class="form-horizontal  alert alert-danger fade in" >
        <strong >ATENCI&Oacute;N:</strong>{{advertenciaMensaje}}
      </div>
      <br>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="showUser(theuser.value,thepassword.value)">Enviar</button>
        <button class="btn btn-danger" (click) = "closeModal()">Close</button>
      </div>
    </form>
  </div>
</div>

