<form id="registro" [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="isformulario">
  <h2>Register User</h2>

  <div class="form-group">
    <label  class="cols-sm-2 control-label">UserName</label>
    <div class="input-container">
      <i class="fa fa-user icons"></i>
      <input type="text" formControlName="vuserName" [(ngModel)] = "username"  (blur)="showUserName()" (focus)="closeAdvertenciaUserName()"  placeholder="Identificación de Usuario"  class="input-field" [ngClass]="{ 'is-invalid': submitted && f.vuserName.errors }" />
    </div>
    <div *ngIf="submitted && f.vuserName.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vuserName.errors.required">User is required</div>
    </div>
    <div *ngIf="advertenciaUserName" id="dialogAdvertenciaUserName"class="form-horizontal alert alert-danger fade in" >
      <strong >Warning:</strong>{{msgadvertencia}}
    </div>
  </div>
  <div class="form-group">
    <label class="cols-sm-2 control-label">Password</label>
    <div class="input-container">
      <i class="fa fa-key icons"></i>
      <input class="input-field" type="password" placeholder="Contraseña"   formControlName="vpassword"  [(ngModel)] = "password" (focus)="closeAdvertenciaPasword()" [ngClass]="{ 'is-invalid': submitted && f.vpassword.errors }" >
    </div>
    <div *ngIf="submitted && f.vpassword.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vpassword.errors.required">Password is required</div>
      <div *ngIf="f.vpassword.errors.minlength">Min 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">Repeat Password</label>
    <div class="input-container">
      <i class="fa fa-key icons"></i>
      <input class="input-field" type="password" placeholder="RepetirContraseña" formControlName="vreppassword" [(ngModel)] = "reppassword" (blur)="comparatePassword()"  (focus)="closeAdvertenciaPasword()"[ngClass]="{ 'is-invalid': submitted && f.vreppassword.errors}">
    </div>
    <div *ngIf="submitted && f.vreppassword.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vreppassword.errors.required">Password is required</div>
      <div *ngIf="f.vreppassword.errors.minlength">Min 6 characters</div>
    </div>
    <div *ngIf="advertenciaContresena" id="advertenciaPasword"class="form-horizontal alert alert-danger fade in" >
      <strong >ATENCI&Oacute;N:</strong>Passwords are different
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">Email</label>
    <div class="input-container">
      <i class="fa fa-envelope icons"></i>
      <input class="input-field" type="text" placeholder="Email" formControlName="vemail" (blur)="showEmail()" (focus)="closeAdvertenciaEmail()" [(ngModel)] = "email" [ngClass]="{ 'is-invalid': submitted && f.vemail.errors }"   >
    </div>
    <div *ngIf="submitted && f.vemail.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vemail.errors.required">Email is required</div>
      <div *ngIf="f.vemail.errors.email">Email is wrong</div>
    </div>
    <div *ngIf="advertenciaEmail" id="dialogAdvertenciaEmail"class="form-horizontal alert alert-danger fade in" >
      <strong >Warning:</strong>{{msgadvertencia}}
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">ORCID</label>
    <div class="input-container">
      <i class="fa fa-graduation-cap icons"></i>
      <input class="input-field" type="text" placeholder="Orcid" formControlName="vorcid" (blur)="showOrcid()" (focus)="closeAdvertenciaOrcid()" [(ngModel)] = "orcid" [ngClass]="{ 'is-invalid': submitted && f.vorcid.errors }"   >
    </div>
    <div *ngIf="submitted && f.vorcid.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vorcid.errors.required">Orcid is required</div>
      <div *ngIf="f.vorcid.errors.pattern">Format ORCID 0000-0000-0000-0000</div>
    </div>
    <div *ngIf="advertenciaOrcid" id="dialogAdvertenciaOrcid"class="form-horizontal alert alert-danger fade in" >
      <strong >Warning:</strong>{{msgadvertencia}}
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">First Name</label>
    <div class="input-container">
      <i class="fa fa-male icons"></i>
      <input class="input-field" type="text" placeholder="First Name" formControlName="vfirstname" [(ngModel)] = "firstname" [ngClass]="{ 'is-invalid': submitted && f.vfirstname.errors }"   >
    </div>
    <div *ngIf="submitted && f.vfirstname.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vfirstname.errors.required">Firstname is required</div>
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">Last Name</label>
    <div class="input-container">
      <i class="fa fa-male icons"></i>
      <input class="input-field" type="text" placeholder="Last Name" formControlName="vlastname" [(ngModel)] = "lastname" [ngClass]="{ 'is-invalid': submitted && f.vlastname.errors }"   >
    </div>
    <div *ngIf="submitted && f.vlastname.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vlastname.errors.required">Firstname is required</div>
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">Phone</label>
    <div class="input-container">
      <i class="fa fa-phone icons"></i>
      <input class="input-field" type="text" placeholder="phone" formControlName="vphone" [(ngModel)] = "phone" [ngClass]="{ 'is-invalid': submitted && f.vphone.errors }"   >
    </div>
    <div *ngIf="submitted && f.vphone.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vphone.errors.required">Phone is required</div>
      <div *ngIf="f.vphone.errors.pattern">Phone must be 9 elements</div>
    </div>
  </div>
  <div class="form-group">
    <label  class="cols-sm-2 control-label">Address</label>
    <div class="input-container">
      <i class="fa fa-home icons"></i>
      <input class="input-field" type="text" placeholder="address" formControlName="vaddress" [(ngModel)] = "address" [ngClass]="{ 'is-invalid': submitted && f.vaddress.errors }"   >
    </div>
    <div *ngIf="submitted && f.vaddress.errors" class="form-horizontal alert alert-danger fade in">
      <div *ngIf="f.vaddress.errors.required">Addres is required</div>
    </div>
  </div>
  <div class="form-group">
    <button id="btnRegistro" class="btn btn-primary">Register</button>
  </div>
</form>
<div id="registroExisto" *ngIf="isregistro">
  <div  class="alert alert-success alert-dismissible">
    <strong>Congratulations!</strong> User Register!!!
    <br>
  </div>
</div>
<br>
<br>
<br>
<br>
