<h1 class="container text-center">
  Show Profile
</h1>
<form [formGroup]="searchProfileForm" (ngSubmit)="readSearchProfile()">

  <div class="container" >
    <div div class="col-sm-4 text-center">
      <label  class="cols-sm-2 control-label">Name:</label>
      <div class="input-container">
        <i class="fa fa-user-circle-o icons"></i>
        <input type="text" formControlName="vname" [(ngModel)] = "name"   placeholder="Name"  class="input-field"  />
      </div>
    </div>

    <div class="col-sm-2 text-center">
      <label  class="cols-sm-2 control-label">Choose Working Day:</label>
      <div class="input-container">
        <i class="fa fa-building icons"></i>
        <select class="input-field"  formControlName="vworking_day"  [(ngModel)] = "working_day"  [ngClass]="{ 'is-invalid': submitted && f.vworking_day.errors }">
          <ng-container *ngFor="let w_d of working_days" >
            <option value= {{w_d}}>{{w_d}} </option>
          </ng-container>
        </select>
      </div>
      <div *ngIf="submitted && f.vworking_day.errors" class="form-horizontal alert alert-danger fade in">
        <div *ngIf="f.vworking_day.errors.required">It is required</div>
      </div>
    </div>
    <div class="col-sm-2 text-center">
      <label  class="cols-sm-2 control-label">Choose Level:</label>
      <div class="input-container">
        <i class="fa fa-building icons"></i>
        <select class="input-field"  formControlName="vnivel"  [(ngModel)] = "nivel"  [ngClass]="{ 'is-invalid': submitted && f.vnivel.errors }">
          <ng-container *ngFor="let nv of nivels" >
            <option  value= {{nv}} >{{nv}}  </option>
          </ng-container>
        </select>
      </div>
      <div *ngIf="submitted && f.vnivel.errors" class="form-horizontal alert alert-danger fade in">
        <div *ngIf="f.vnivel.errors.required">Level is required</div>
      </div>
    </div>

    <div class="col-sm-1 text-center">
      <button class="btn btn-lg btn-warning"  ><span class="glyphicon glyphicon-search">Search</span></button>
    </div>
  </div>
</form>
<div class="container" >
  <div class="alert alert-inf col-sm-10"  *ngIf="!isData">
    <strong>Info!</strong> No found Result
  </div>
</div>
<div class="container" id="cardsInformacion"  *ngIf="isData">

  <div *ngFor="let i of data" >

    <div class="card">
      <h1 class="w3-panel card-header bg-primary text-center">{{i.name}}</h1>
      <div class="card-body">
        <div class="row vdivide">
          <div class="col-sm-4 text-center">

            <h6 class="card-subtitle mb-2 text-muted">Working Day: {{i.working_day}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Level: {{i.nivel}}</h6>
            <!--  <h5 class="card-title">Category:{{i.category}}</h5>
              -->
          </div>
          <div class="col-sm-7 text-left">
            <h4 class="card-title">Description:</h4>
            <p class="card-text">{{i.description}}</p>

          </div>
        </div>

      </div>
    </div>
    <br>
    <br>



  </div>

</div>
